:root {
  --background: #e4e4e4;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 80vw;
  width: 100%;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root-container {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  /* min-height: 100vh; */
}

.review-wrapper {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.join,
.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  justify-content: center;
  height: calc(100vh - 64px);
  width: 400px;
  margin: auto;
}
.main {
  justify-content: start;
  overflow: auto;
  width: 100%;
  align-items: center;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}

.avatar {
  display: flex;
  flex-direction: column;
  gap: 5;
  align-items: center;
}

.search {
  width: 500px;
  height: 500px;
}

.search-result {
  max-width: 600px !important;
  margin-bottom: 50px;
}

.search-item {
  display: flex;
  justify-content: center;
}

.search-field {
  margin: 50px 0 0 0;
  display: flex;
  gap: 20px;
  width: 500px;
}

.button-wrap {
  display: flex;
  gap: 10px;
  justify-content: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
